.points {
    width: 50rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    border-width: 0.25rem;
    

    margin-right: 3rem;
    margin-top: 1rem;

}

.player-image{
    width: 8rem;
    height: 8prem;
    border-style: solid;
    border-width: 0rem;

    margin-top: 0.5rem;

    background-color: white

}